<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job application</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        .submit input {
            width: 220px;
            height: 7vh;
            background-color: #008000;
            color: black;
            font-weight: 900;
            font-size: x-large;
            margin: 20px;
            display: block;
            border-radius: 10px;

        }

        .submit :hover {
            cursor: pointer;
            background-color: #1d931d;
        }
    </style>
</head>

<body>
    <div class="registation">
        <form class="main" action="/all" method="post">
            <h1 class="title">Job Application Form</h1>
            <div class="basic">
                <fieldset class="bd1">
                    <legend class="l1">Baisc Details
                    </legend>
                    <div class="fields1">
                        <div>
                            <label>First Name:</label>
                            <input type="text" name="fname" id="FirstName">
                        </div>

                        <div><label>Last Name:</label>
                            <input type="text" name="lname" id="LastName">
                        </div>



                    </div>
                    <div class="field2">
                        <div><label>Designation:</label>
                            <input type="text" name="Designation" id="Designation">
                        </div>
                        <div>
                            <label>Address-1:</label>
                            <input type="text" name="Address" id="Address-1">
                        </div>

                    </div>
                    <div class="field3">
                        <div>
                            <label>Email:</label>
                            <input type="text" name="Email" id="email">
                        </div>

                        <div>
                            <label>Address-2:</label>
                            <input type="text" name="pAddress" id="Address-2">
                        </div>

                    </div>
                    <div class="field4">
                        <div>
                            <label>Phone Number:</label>
                            <input type="number" name="phnumber" id="Phone_Number">
                        </div>

                        <div>
                            <label>City:</label>
                            <select name="City" id="City">
                                <option value="Select City" selected disabled>Select City</option>

                            </select>
                        </div>

                    </div>
                    <div class="field5">
                        <div>
                            <label>Zip-code:</label>
                            <input type="text" name="Zipcode" id="Zip-code">
                        </div>



                        <div>
                            <label>Gender:</label>
                            <input class="l-legend" type="radio" id="gChoice1" name="gender" value="M" />
                            <label size="20px" for="gChoice1">Male</label>

                            <input class="l-legend" type="radio" id="gChoice2" name="gender" value="F" />
                            <label for="gChoice2">Female</label>

                            <input class="l-legend" type="radio" id="gChoice3" name="gender" value="mail" />
                            <label for="gChoice3">Other </label>
                        </div>

                    </div>
                    <div class="field6">
                        <div><label for="Relationship">Relationship Status:</label>




                            <select name="Relationship" id="Relationship">
                                <% for(var i=0 ; i< relationship_menu.length;i++){ %>
                                    <option value="<%= relationship_menu[i].option_value %>">
                                        <%= relationship_menu[i].option_value %>
                                    </option>
                                    <% } %>
                            </select>




                        </div>

                        <div>
                            <label>State:</label>
                            <select name="State" id="State" onchange="selectCity(this)">
                                <option value="default" selected disabled>Select State</option>
                                <% for(var i=0 ; i< State_menu.length;i++){ %>
                                    <option value="<%= State_menu[i].state_id %>">
                                        <%= State_menu[i].state_name %>
                                    </option>
                                    <% } %>
                            </select>
                        </div>
                        <div>

                            <label for="birthday">Date of Birth:</label>
                            <input type="date" id="dob" name="dob">
                        </div>
                    </div>
                </fieldset>
                <fieldset class="bd2">
                    <legend class="l2">Education Detail</legend>
                    <div class="field7" id="field7">

                        <div class="edu">
                            <div>
                                <label>Name of Course</label>
                                <select class="cc" name="Course" id="Course">
                                    <% for(var i=0 ; i< Course.length;i++){ %>
                                        <option value="<%= Course[i].option_value %>">
                                            <%= Course[i].option_value %>
                                        </option>
                                        <% } %>
                                </select>
                                <!-- <input type="text" name="Course" id="Course"> -->



                            </div>
                            <div>
                                <label>Board/University</label>
                                <input type="text" name="institution" id="institution">
                            </div>
                            <div>
                                <label>Percentage Obtained</label>
                                <input type="text" name="Percentage" id="Percentage">
                            </div>
                            <div>
                                <label>Passing Year</label>
                                <input type="text" name="Passing_Year" id="Passing_Year">
                            </div>
                        </div><br><br>


                    </div>
                    <div>
                        <input class="btn1" type="button" value="Add Education" id="addEdu">
                    </div>
                </fieldset>
                <fieldset class="bd2">
                    <legend class="l2">Work Experience</legend>
                    <div class="field8" id="field8">

                        <div class="Work">
                            <div>
                                <label>Name of company</label>
                                <input type="text" name="company" id="company">
                            </div>
                            <div>
                                <label>Designation</label>
                                <input type="text" name="Designation_name" id="Designation">
                            </div>
                            <div>
                                <label>From</label>
                                <input type="date" name="start_date" id="start_date">
                            </div>
                            <div>
                                <label>To</label>
                                <input type="date" name="end_date" id="end_date">
                            </div>
                        </div><br><br>


                    </div>
                    <div>
                        <input class="btn1" type="button" value="Add Experience" id="addExp">
                    </div>
                </fieldset>



                <div class="bd3">
                    <!-- <legend>hello</legend> -->
                    <div class="parent">
                        <fieldset class="lk">
                            <legend class="l3">Langauges Known</legend>
                            <div id="lang_info">
                                <% for (let i=0; i < Langauges.length; i++) { %>
                                    <div id="lang_cols" class="lk1">
                                        <label for="<%= Langauges[i].option_value  %>">
                                            <%= Langauges[i].option_value %>
                                        </label>
                                        <input type="checkbox" id=" <%= Langauges[i].option_value %>_parent"
                                            name="<%= Langauges[i].option_value %>"
                                            value="<%= Langauges[i].option_value %>" onclick="selectAll(this)">
                                        <label for="read"> read</label><br>
                                        <input type="checkbox" id="<%= Langauges[i].option_value %>"
                                            name="<%=  Langauges[i].option_value %>r" value="10"
                                            onclick="updateParent(this)">
                                        <label for="write"> write</label><br>
                                        <input type="checkbox" id="<%= Langauges[i].option_value %>"
                                            name="<%=  Langauges[i].option_value %>w" value="10"
                                            onclick="updateParent(this)">
                                        <label for="speak"> speak</label><br>
                                        <input type="checkbox" id="<%= Langauges[i].option_value %>"
                                            name="<%=  Langauges[i].option_value %>s" value="10"
                                            onclick="updateParent(this)">
                                    </div>
                                    <% } %>
                            </div>

                        </fieldset>
                    </div>
                    <div class="child">

                        <fieldset class="tk">
                            <legend class="l3">Technologies Known</legend>
                            <div id="Tech_info">
                                <% for (let i=0; i < Tech.length; i++) { %>
                                    <div class="tk1">
                                        <input type="checkbox" id="<%= Tech[i].option_value  %>"
                                            name="<%= Tech[i].option_value %>" value="<%= Tech[i].option_value  %>">
                                        <label for="<%= Tech[i].option_value  %>">
                                            <%= Tech[i].option_value %>
                                        </label><br>

                                        <input type="radio" id="Bignner" name="<%= Tech[i].option_value%>a"
                                            value="Bignner" >
                                        <label for="Bignner"> Bignner</label><br>
                                        <input type="radio" id="intermediate" name="<%= Tech[i].option_value%>a"
                                            value="Intermediate">
                                        <label for="intermediate"> intermediate</label><br>
                                        <input type="radio" id="Expert" name="<%= Tech[i].option_value%>a"
                                            value="Expert">
                                        <label for="Expert"> Expert</label><br>

                                    </div>
                                    <% } %>

                            </div>

                        </fieldset>



                    </div>


                </div>
                <fieldset class="bd2">
                    <legend class="l2">Reference Contact</legend>
                    <div class="field10" id="field10">

                        <div class="ref">
                            <div>
                                <label>Name</label>
                                <input type="text" name="ref_name1" id="ref_name">
                            </div>
                            <div>
                                <label>Email</label>
                                <input type="text" name="ref_email1" id="ref_email">
                            </div>
                            <div>
                                <label>Relation</label>
                                <input type="text" name="Relation1" id="Relation">
                            </div>
                        </div><br><br>


                    </div>
                    <div class="ref">
                        <div>
                            <label>Name</label>
                            <input type="text" name="ref_name2" id="ref_name">
                        </div>
                        <div>
                            <label>Email</label>
                            <input type="text" name="ref_email2" id="ref_email">
                        </div>
                        <div>
                            <label>Relation</label>
                            <input type="text" name="Relation2" id="Relation">
                        </div>
                    </div><br><br>
                </fieldset>

                <fieldset class="bd2">
                    <legend class="l2">Preferences</legend>
                    <div class="field8" id="field11">
                        <div>
                            <label>Department</label>
                            <select name="Department" id="Department">
                                <% for(var i=0 ; i< Dept.length;i++){ %>
                                    <option value="<%= Dept[i].option_value %>">
                                        <%= Dept[i].option_value %>
                                    </option>
                                    <% } %>
                            </select>
                        </div>



                        <div>

                            <label>Expacted CTC</label>&nbsp;
                            <input name="Expacted_CTC" type="text" id="Expacted_CTC">
                            <label>Current CTC</label>&nbsp;
                            <input name="Current_CTC" type="text" id="Current_CTC">
                        </div>

                        <label> Prefered Location</label> &nbsp;
                        <select multiple name="loc_name">
                            <% for(var i=0 ; i< Loc.length;i++){ %>
                                <option value="<%= Loc[i].option_value %>">
                                    <%= Loc[i].option_value %>
                                </option>
                                <% } %>
                        </select>

                    </div>

                </fieldset>

            </div>
            <!-- <div>
                        <input class="btn1" type="button" value="Add Reference" id="ref_contact">
                    </div> -->





            <div class="submit"><input type="submit" value="Submit"></div>


        </form>
    </div>


</body>.
<script>
    document.getElementById("addEdu").addEventListener('click', () => {
        document.getElementById('field7').insertAdjacentHTML('beforeend', ` <div class="edu">
    <div>
        <label>Name of Course</label>
        <select class="cc" name="Course" id="Course">
                                <% for(var i=0 ; i< Course.length;i++){ %>
                                    <option value="<%= Course[i].option_value %>">
                                        <%= Course[i].option_value %>
                                    </option>
                                    <% } %>
                                </select>
    </div>
    <div>
        <label>Board/University</label>
        <input type="text" name="institution" id="institution">
    </div>
    <div>
        <label>Percentage Obtained</label>
        <input type="text" name="Percentage" id="Percentage">
    </div>
    <div>
        <label>Passing Year</label>
        <input type="text" name="Passing_Year" id="Passing_Year">
    </div><br><br><br>
</div>`)
    })

    document.getElementById('addExp').addEventListener('click', () => {
        document.getElementById('field8').insertAdjacentHTML('beforeend', `<div class="Work">
    <div>
        <label>Name of company</label>
        <input type="text" name="company" id="company">
    </div>
    <div>
        <label>Designation</label>
        <input type="text" name="Designation_name" id="Designation">
    </div>
    <div>
        <label>From</label>
        <input type="date" name="start_date" id="start_date">
    </div>
    <div>
        <label>To</label>
        <input type="date" name="end_date" id="end_date">
    </div>
</div><br><br>`)
    })

   var City= document.getElementById("City")

    async function selectCity(ele) {
        state_id = ele.value
        console.log(state_id);
        console.log("selecyt cities");
        try {
            const selected_State = await fetch(`https://job-app-8xzz.onrender.com/all/state/${state_id}`);
            var cities = await selected_State.json();
            console.log(cities);
            City.innerHTML='';
            // City.innerHTML+=`<option>Select City</option>`
            cities.result.forEach(option=>{
                City.innerHTML+=`<option id=${option.city_id}>${option.city_name}</option>`
            })

        } catch (e) {
            console.log(e);
        }
    }


// function dropChange(element){
//     var state_id = element.value;
//     console.log(state_id);
//     fetch(`http://localhost:5006/all/state/${state_id}`)
//     .then(resp => resp.json())
//     .then(data =>{
//      console.log(data)
//     city.innerHTML = ""
//     data.ans.forEach(d => {
//         city.innerHTML += `<option value=${d.name_city}>${d.city_name}</option>`
//     })}
    
//     );
// }


    function updateParent(language) {
        const languageClass = language.id;
        console.log(languageClass);
        let ans = true;
        const parentElement = document.querySelector(`#${languageClass}_parent`);
        parentElement.checked = true;


    }

    function selectAll(language) {
        console.log(language.name);
        if (!language.checked) {
            document.querySelectorAll(`#${language.name}`).forEach((lan) => {
                lan.checked = false;
            })
        }
    }
</script>

</html>