<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job application</title>
    <link rel="stylesheet" href="/css/style.css">

    <style>
        .required:after {
            content: " *";
            color: red;
        }

        .submit input {
            width: 220px;
            height: 7vh;
            background-color: #008000;
            color: black;
            font-weight: 900;
            font-size: x-large;
            margin: 20px;
            display: block;
            border-radius: 10px;

        }

        .submit :hover {
            cursor: pointer;
            background-color: #1d931d;
        }
    </style>
</head>

<body>
    <div class="Update ">
        <form class="main" action="/update/<%= personal_data[0].id %>" method="post">
            <h1 class="title">Update Job Application Form</h1>
            <div class="basic">
                <p>I am myupdate.ejs</p>

                <fieldset class="bd1">
                    <legend class="l1">Baisc Details
                    </legend>
                    <div class="fields1">
                        <div>
                            <label>First Name:</label>
                            <input type="text" name="fname" id="FirstName" value="<%= personal_data[0].first_name%>">
                        </div>

                        <div><label>Last Name:</label>
                            <input type="text" name="lname" id="LastName" value="<%= personal_data[0].last_name %>">
                        </div>



                    </div>
                    <div class="field2">
                        <div><label>Designation:</label>
                            <input type="text" name="Designation" id="Designation"
                                value="<%= personal_data[0].designation %>">
                        </div>
                        <div>
                            <label>Address-1:</label>
                            <input type="text" name="Address" id="Address-1" value="<%= personal_data[0].address %>">
                        </div>

                    </div>
                    <div class="field3">
                        <div>
                            <label>Email:</label>
                            <input type="text" name="Email" id="email" value="<%= personal_data[0].email %>">
                        </div>

                        <div>
                            <label>Address-2:</label>
                            <input type="text" name="pAddress" id="Address-2" value="<%= personal_data[0].address_2 %>">
                        </div>

                    </div>
                    <div class="field4">
                        <div>
                            <label>Phone Number:</label>
                            <input type="number" name="phnumber" id="Phone_Number"
                                value="<%= personal_data[0].contact_no %>">
                        </div>

                        <div>
                            <label>City:</label>
                            <select name="City" id="City">
                                <option selected disabled>

                                </option>

                            </select>
                        </div>

                    </div>
                    <div class="field5">
                        <div>
                            <label>Zip-code:</label>
                            <input type="text" name="Zipcode" id="Zip-code" value="<%= personal_data[0].zipcode %>">
                        </div>



                        <div>
                            <label>Gender:</label>
                            <input class="l-legend" type="radio" id="gChoice1" name="gender" value="M" <% if(
                                personal_data[0].gender=='M' ){ %> checked <% } %> />
                                <label size="20px" for="gChoice1">Male</label>

                                <input class="l-legend" type="radio" id="gChoice2" name="gender" value="F" <% if(
                                    personal_data[0].gender=='F' ){ %> checked <% } %> />
                                    <label for="gChoice2">Female</label>

                                    <input class="l-legend" type="radio" id="gChoice3" name="gender" value="O" <% if(
                                        personal_data[0].gender=='O' ){ %> checked <% } %>/>
                                        <label for="gChoice3">Other </label>
                        </div>

                    </div>
                    <div class="field6">
                        <div><label for="Relationship">Relationship Status:</label>

                            <select name="Relationship" id="Relationship">
                                <% for(var i=0 ; i< relationship_menu.length;i++){ %>
                                    <option value="<%= relationship_menu[i].option_value %>" <%
                                        if(relationship_menu[i].option_value== personal_data[0].relationship) { %> selected <% }%>>
                                         <%= relationship_menu[i].option_value %>
                                    </option>
                                    <% } %>
                            </select>

                        </div>

                        <div>
                            <label>State:</label>
                            <select name="State" id="State" onchange="selectCity(this)">

                                <% for(var i=0 ; i< State_menu.length;i++){ %>
                                    <option value="<%= State_menu[i].state_id %>" <%
                                        if(State_menu[i].state_name==personal_data[0].state) { %> selected <% }%>>
                                            <%= State_menu[i].state_name %>
                                    </option>
                                    <% } %>
                            </select>
                        </div>
                        <div class="required">

                            <label for="birthday">Date of Birth:</label>
                            <input type="date" id="dob" name="dob" value="<%= personal_data[0].dob %>" required>
                        </div>

                    </div>
                </fieldset>
                <fieldset class="bd2">
                    <legend class="l2">Education Detail</legend>
                    <div class="field7" id="field7">
                        <% for (let i=0; i < education_data.length; i++) {%>
                            <input type="hidden" name="edu_id" value="<%= education_data[i].id %>">
                            <div class="edu">
                                <div>
                                    <label>Name of Course</label>
                                    <select class="cc" name="Course" id="Course">
                                        <% for(var j=0 ; j< Course1.length;j++){ %>
                                            <option value="<%= Course1[j].option_value%>" <% if
                                                (Course1[j].option_value==education_data[i].course) { %> selected <% }
                                                    %>>
                                                    <%=Course1[j].option_value %>
                                            </option>
                                            <% } %>
                                    </select>
                                </div>

                                <div>
                                    <label>Board/University</label>
                                    <input type="text" name="institution" id="institution"
                                        value="<%= education_data[i].board %>">
                                </div>
                                <div>
                                    <label>Passing Year</label>
                                    <input type="text" name="Percentage" id="Percentage"
                                        value="<%= education_data[i].percentage %>">
                                </div>
                                <div>
                                    <label>Percentage Obtained</label>
                                    <input type="text" name="Passing_Year" id="Passing_Year"
                                        value="<%= education_data[i].passing_year %>">
                                </div>
                            </div>
                            <% } %><br><br>


                    </div>


                    <div>
                        <input class="btn1" type="button" value="Add Education" id="addEdu">
                    </div>
                </fieldset>
                <div class="bd3">

                    <div class="parent">
                        <fieldset class="lk">
                            <legend class="l3">Langauges Known</legend>
                            <div id="lang_info">

                                <% for (let i=0; i < Langauges.length; i++) { %>
                                    <div id="lang_cols" class="lk1">
                                        <input type="hidden" name="lang_id" value="<%= language_data[i]?.id %>">
                                        <label for="<%= Langauges[i].option_value  %>">
                                            <%= Langauges[i].option_value %>
                                        </label>
                                        <input type="checkbox" id=" <%= Langauges[i].option_value %>_parent"
                                            name="langs" value="<%= Langauges[i].option_value %>"
                                            onclick="selectAll(this)" <% if(language_data[i]?.language_name) { %>
                                        checked <% } %> >
                                            <label for="read"> read</label><br>
                                            <input type="checkbox" id="<%= Langauges[i].option_value %>"
                                                name="<%=  language_data[i]?.language_name %>r" value="10"
                                                onclick="updateParent(this)" <% if(language_data[i]?.read_lang==10) { %>
                                            checked <% } %>>
                                                <label for="write"> write</label><br>
                                                <input type="checkbox" id="<%= Langauges[i].option_value %>"
                                                    name="<%=  language_data[i]?.language_name %>w" value="10"
                                                    onclick="updateParent(this)" <% if(language_data[i]?.write_lang==10)
                                                    { %> checked <% } %>>
                                                    <label for="speak"> speak</label><br>
                                                    <input type="checkbox" id="<%= Langauges[i].option_value %>"
                                                        name="<%= language_data[i]?.language_name%>s" value="10"
                                                        onclick="updateParent(this)" <% if(language_data[i]?.speak==10)
                                                        { %> checked <% } %>>
                                    </div>
                                    <% } %>
                            </div>

                        </fieldset>
                    </div>
                    <div class="child">

                        <fieldset class="tk">
                            <legend class="l3">Technologies Known</legend>
                            <div id="Tech_info">
                                <% for (let i=0; i < Tech.length; i++) { %>
                                    <div class="tk1">
                                        <input type="checkbox" id="<%= Tech[i].option_value  %>" name="tech"
                                            value="<%= Tech[i].option_value  %>" <% if (technology_data[i]?.technology){
                                            %> checked <% } %>>
                                            <label for="<%= Tech[i].option_value  %>">
                                                <%= Tech[i].option_value %>
                                            </label><br>

                                            <input type="radio" id="Bignner" name="<%= Tech[i].option_value%>a"
                                                value="Bignner" <% if(technology_data[i]?.profiency=='Bignner' ) { %>
                                            checked <% } %> >
                                                <label for="Bignner"> Bignner</label><br>
                                                <input type="radio" id="intermediate" name="<%= Tech[i].option_value%>a"
                                                    value="Intermediate" <%
                                                    if(technology_data[i]?.profiency=='Intermediate' ) { %> checked <% }
                                                    %> >
                                                    <label for="intermediate"> intermediate</label><br>
                                                    <input type="radio" id="Expert" name="<%= Tech[i].option_value%>a"
                                                        value="Expert" <% if(technology_data[i]?.profiency=='Expert' ) {
                                                        %> checked <% } %>>
                                                        <label for="Expert"> Expert</label><br>

                                    </div>
                                    <% } %>

                            </div>

                        </fieldset>





                    </div>
                </div>
                <fieldset class="bd2">
                    <legend class="l2">Reference Contact</legend>
                    <div class="field10" id="field10">

                        <div class="ref">
                            <input type="hidden" name="ref_id1" value="<%= reference_data[0]?.id %>">
                            <div>
                                <label>Name</label>
                                <input type="text" name="ref_name1" id="ref_name" value="<%= reference_data[0].name %>">
                            </div>
                            <div>
                                <label>Email</label>
                                <input type="text" name="ref_email1" id="ref_email" value="<%= reference_data[0].email %>">
                            </div>
                            <div>
                                <label>Relation</label>
                                <input type="text" name="Relation1" id="Relation" value="<%= reference_data[0].relation %>">
                            </div>
                        </div><br><br>


                    </div>
                    <div class="ref">
                        <input type="hidden" name="ref_id2" value="<%= reference_data[1]?.id %>">
                        <div>
                            <label>Name</label>
                            <input type="text" name="ref_name2" id="ref_name" value="<%= reference_data[1].name %>">
                        </div>
                        <div>
                            <label>Email</label>
                            <input type="text" name="ref_email2" id="ref_email" value="<%= reference_data[1].email %>">
                        </div>
                        <div>
                            <label>Relation</label>
                            <input type="text" name="Relation2" id="Relation" value="<%= reference_data[1].relation %>">
                        </div>
                    </div><br><br>
                </fieldset> 
                <fieldset class="bd2">
                    <legend class="l2">Preferences</legend>
                    <div class="field8" id="field11">
                        <div>
                            <label>Department</label>
                            <select name="Department" id="Department">
                                <% for(var i=0 ; i< Depart.length;i++){ %>
                                    <option value="<%=  Depart[i].option_value %>" <%if(Depart[i].option_value== CTC_data[0].Department) { %> selected <% }%> >
                                        <%= Depart[i].option_value  %>
                                    </option>
                                    <% } %>
                            </select>
                        </div>



                        <div>

                            <label>Expacted CTC</label>&nbsp;
                            <input name="Expacted_CTC" type="text" id="Expacted_CTC" value="<%=CTC_data[0].Current_CTC%>">
                            <label>Current CTC</label>&nbsp;
                            <input name="Current_CTC" type="text" id="Current_CTC" value="<%=CTC_data[0].Expected_CTC%>">
                        </div>

                        <label> Prefered Location</label> &nbsp;
                        <select multiple name="loc_name" >

                            <% for(var i=0 ; i< location.length;i++){ %>
                                <% for(var j=0 ; j< finalLocPref.length;j++){ %>
                                   
                                    <option value="<%= location[i].option_value %>" <% if(finalLocPref[j] == location[i].option_value){ %> selected <%  }  %>>
                                        <%= location[i].option_value %>
                                        </option>
                                        
                                        
                                        
                                   <% } %>
                             <% } %>

                        </select>


                    </div>

                </fieldset>



            </div>







            <div class="submit"><input type="submit" value="Update"></div>


        </form>
    </div>


</body>.
<script>










    var City = document.getElementById("City")
    var state_id = document.getElementById("State").value
    //console.log(state_id);
    fetch(`https://job-app-8xzz.onrender.com/all/state/${state_id}`)
        .then(resp => resp.json())
        .then(data => {
            //console.log(data)
            City.innerHTML = ""
            let user_selected_city = `<%= personal_data[0].city %>`;
            data.result.forEach(d => {
                City.innerHTML += `<option value='${d.city_name}'}>${d.city_name}</option>`

            })
        }
        );





    async function selectCity(ele) {
        state_id = ele.value
        //console.log(state_id);
        //console.log("selecyt cities");
        try {
            const selected_State = await fetch(`https://job-app-8xzz.onrender.com/all/state/${state_id}`);
            var cities = await selected_State.json();
            //console.log(cities);
            City.innerHTML = '';
            // City.innerHTML+=`<option>Select City</option>`
            cities.result.forEach(option => {
                City.innerHTML += `<option id=${option.city_id}>${option.city_name}</option>`
            })

        } catch (e) {
            //console.log(e);
        }
    }
    document.getElementById("addEdu").addEventListener('click', () => {
        document.getElementById('field7').insertAdjacentHTML('beforeend', ` <div class="edu">
        <div>
            <label>Name of Course</label>
            <select class="cc" name="Course" id="Course">
                                <% for(var i=0 ; i< Course1.length;i++){ %>
                                    <option value="<%= Course1[i].option_value %>">
                                        <%= Course1[i].option_value %>
                                    </option>
                                    <% } %>
                                </select>
        </div>
        <div>
            <label>Board/University</label>
            <input type="text" name="institution" id="institution">
        </div>
        <div>
            <label>Passing Year</label>
            <input type="text" name="Percentage" id="Percentage">
        </div>
        <div>
             <label>Percentage Obtained</label>
            <input type="text" name="Passing_Year" id="Passing_Year">
        </div><br><br><br>
    </div>`)
    })


    function updateParent(language) {
        const languageClass = language.id;
        //console.log(languageClass);
        let ans = true;
        const parentElement = document.querySelector(`#${languageClass}_parent`);
        parentElement.checked = true;


    }

    function selectAll(language) {
        //console.log(language.name);
        if (!language.checked) {
            document.querySelectorAll(`#${language.name}`).forEach((lan) => {
                lan.checked = false;
            })
        }
    }
</script>

</html>